@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.EnergyLabel {
  color: $wht;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-weight: bold;
}
