@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.EmployeeCard {
  border: solid 1px $blk;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: end;

  .InfoBox {
    background: $wht;
    opacity: 91%;
    width: 100%;
    border-top: solid 1px #707070;
    padding: 1rem;
  }

  p {
    margin: 0;
  }

  .ContactInfo {
    display: none;
  }

  &:hover {
    .InfoBox {
      background: $gray;
      color: $wht;
    }
    .ContactInfo {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .ContactInfo {
      display: block;
    }

    .InfoBox {
      background: $gray;
      color: $wht;
    }
  }
}
