@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.Navigation {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    @extend %Odibee;
    font-size: 28px;
  }

  a {
    .active {
      color: $brown;
    }

    &:hover {
      color: $brown;
    }
  }
}
