@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.Navigation {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    @extend %Odibee;
    font-size: 28px;
  }

  a {
    color: $wht;

    &:hover {
      color: $brown;
    }
  }

  .active {
    color: $brown;
  }
}

@media (max-width: 768px) {
  .Navigation {
    width: 100%;

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
