@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.HeaderImg {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -12rem;
}

.EstateInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  background: #ffffffe8;
  padding: 0.5rem 2rem;
}

.HomeIcons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.InfoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  p {
    margin: 0.5rem;
  }
}

.GridBox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;

  img {
    width: 100%;
  }
}

.Agent {
  h2 {
    margin-top: 0.5rem;
    text-align: left;
  }

  img {
    width: 50%;
  }
}
